html {
    background: #f0f4f7 !important;
}

.input:focus,
.button:focus {
    box-shadow: 0 0 0 1.5px #010101;
}

.text-theme-1 {
    color: #010101 !important;
}

.bg-theme-1 {
    background: #010101 !important;
}
.bg-theme-9 {
    background: #14ca6f !important;
}
.border-theme-1 {
    border-color: #0a3632;
}

.text-theme-9 {
    color: #14ca6f !important;
}

.bg-theme-18 {
    --bg-opacity: 1;
    background-color: #14ca6f !important;
    background-color: rgba(216, 248, 188, 0.7) !important;
}
.toggle__dot {
    top: -0.25rem;
    left: -0.25rem;
    transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
    transform: translateX(100%);
    background-color: #010101;
}
@media (max-width: 1279px) {
    .login {
        background: linear-gradient(to bottom, #010101, #010101);
    }
}

.input[type="checkbox"]:not(.input--switch):checked {
    background-color: #010101;
    border-color: #010101;
}

.side-nav > ul ul ul {
    background-color: #0e2e2b !important;
}

.side-nav > ul > li > .side-menu.side-menu--active .side-menu__icon,
.breadcrumb .breadcrumb--active {
    color: #412e7a !important;
}

.side-nav > ul > li > .side-menu:hover:not(.side-menu--active):not(.side-menu--open) .side-menu__icon:before {
    background-color: #0e2e2b;
}

.side-nav__devider,
.menu__devider {
    background-color: #010101 !important;
}

.side-nav .side-menu,
.side-nav > ul > li > .side-menu.side-menu--active .side-menu__title,
.mobile-menu .menu {
    color: #010101 !important;
}

.side-nav > ul > li > .side-menu:not(.side-menu--active) .side-menu__icon:before {
    border-radius: 9999px !important;
}

.side-nav > ul > li > .side-menu:hover:not(.side-menu--active):not(.side-menu--open) .side-menu__icon:before {
    background-color: #0a363242;
}

.side-nav > ul > li > .side-menu.side-menu--active {
    border-radius: 0 !important;
    border-left: solid 3px #0e2e2b !important;
    margin-left: 1em !important;
}
.login:before {
    background-image: none;
}

.input.input--switch[type="checkbox"]:checked {
    background-color: #14ca6f;
    border-color: #14ca6f;
}
